/* Custom Properties (Variables) */
:root {
    --base-font-color: rgb(131, 148, 150);
    --secondary-font-color: rgb(88, 110, 117);
    --emphasised-font: rgb(147, 161, 161);
    --c-background-color: rgb(0, 43, 54);
    --c-background-highlights: rgb(7, 54, 66);
    --c-yellow: rgb(181, 137, 0);
    --c-orange: rgb(203, 75, 22);
    --c-red: rgb(220, 50, 47);
    --c-magenta: rgb(211, 54, 130);
    --c-violet: rgb(108, 113, 196);
    --c-blue: rgb(38, 139, 210);
    --c-cyan: rgb(42, 161, 152);
    --c-green: rgb(133, 153, 0);
}

/* Basic styles */
body {
    background-color: var(--c-background-color);
    color: var(--base-font-color);
    max-width: 800px;
    margin: 0 auto; /* Centers the content container */
}

header, footer {
    background-color: var(--c-background-highlights);
    text-align: center;
}

header h1 {
    color: var(--c-yellow);
    font-size: 150%;
}

article a {
    color: var(--c-magenta);
}

article a:hover {
    color: var(--c-orange);
}

article h2, article h3 {
    padding-top: 50px;
}

article h2, article h3, article p {
    border: 3px solid var(--c-cyan);
    padding: 10px; /* Added padding for visual comfort */
}

nav ul {
    list-style-type: none; /* Removes bullet points */
    display: flex; /* Apply flex layout */
    justify-content: center; /* Align items to the center */
    padding: 0; /* Removes default padding */
}

aside {
    color: var(--c-green);
    flex: 1; /* Flex value for the aside */
    padding: 15px;
}

aside a {
    color: var(--c-red);
}

aside a:hover {
    color: var(--c-blue);
}

/* Main content layout */
main {
    display: flex; /* Uses flexbox for the layout */
    justify-content: space-between; /* Space between article and aside */
}

article {
    flex: 2; /* Flex value for the article to give it more space */
    margin-right: 20px; /* Spacing between article and aside */
}

/* Assuming the related links are inside an aside element */
aside {
    flex: 1; /* Flex value for the aside */
}
